* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  width: 100%;
  position: relative;
  text-decoration: none;
  list-style: none;
  outline: none;
  background: rgba(0, 0, 0, 0);
  border: none;
  font-size: inherit;
  color: inherit;
  z-index: 0;
}

*:before, *:after {
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

p {
  padding: 15px 0 10px;
}

strong {
  display: inline;
  width: auto;
  float: none;
}

.list li {
  padding: 10px 0 0;
  list-style-type: disc;
  margin: 0 0 0 20px;
  width: calc(100% - 20px);
}

.list li li {
  list-style-type: circle;
}

b {
  float: none;
  width: auto;
}

@font-face {
  font-family: regular;
  src: url("fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: semibold;
  src: url("fonts/SourceSansPro-SemiBold.ttf");
}

@font-face {
  font-family: title;
  src: url("fonts/PublicoHeadline-Bold.otf");
}

.mob {
  display: none;
}

@media (max-width: 767px) {
  .mob {
    display: block;
  }
}

.mobTab {
  display: none;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .mobTab {
    display: block;
  }
}

.tab {
  display: none;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tab {
    display: block;
  }
}

.tabDesk {
  display: none;
}

@media (min-width: 768px) {
  .tabDesk {
    display: block;
  }
}

.desk {
  display: none;
}

@media (min-width: 1024px) {
  .desk {
    display: block;
  }
}

.dispNone {
  display: none;
}

.col1 {
  width: 8.33333%;
}

.col2 {
  width: 16.66667%;
}

.col3 {
  width: 25%;
}

.col4 {
  width: 33.33333%;
}

.col5 {
  width: 41.66667%;
}

.col6 {
  width: 50%;
}

.col7 {
  width: 58.33333%;
}

.col8 {
  width: 66.66667%;
}

.col9 {
  width: 75%;
}

.col10 {
  width: 83.33333%;
}

.col11 {
  width: 91.66667%;
}

.col12 {
  width: 100%;
}

.d12t12m6 {
  width: 100%;
}

@media (max-width: 767px) {
  .d12t12m6 {
    width: 50%;
  }
}

.d6t12m12 {
  width: 100%;
}

@media (min-width: 1024px) {
  .d6t12m12 {
    width: 50%;
  }
}

.d4t12m12 {
  width: 100%;
}

@media (min-width: 1024px) {
  .d4t12m12.sideMenu {
    max-width: 320px;
  }
}

@media (min-width: 1024px) {
  .d4t12m12 {
    width: 33.33333%;
  }
}

@media (min-width: 1024px) {
  .d4t12m12 .wrap {
    max-width: 480px;
  }
}

.d8t12m12 {
  width: 100%;
}

@media (min-width: 1024px) {
  .d8t12m12.sideMenu {
    width: calc(100% - 320px);
  }
}

@media (min-width: 1024px) {
  .d8t12m12 {
    width: 66.66667%;
  }
}

@media (min-width: 1024px) {
  .d8t12m12 .wrap {
    max-width: 960px;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-family: 'regular', monospace;
}

.logoWrap {
  position: relative;
  -webkit-box-shadow: 0 0 20px 1px #5f5f5f;
          box-shadow: 0 0 20px 1px #5f5f5f;
}

.logoWrap span {
  width: auto;
}

.logoWrap img {
  width: 60px;
  height: 60px;
}

.logoWrap .title {
  color: #00008f;
  font-family: 'title';
  position: absolute;
  bottom: 0;
  padding: 0 0 0 10px;
}

.mobMenuLbl {
  margin-top: -100px;
  padding: 60px 20px 20px;
  width: auto;
}

@media (min-width: 1024px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.fullHeight {
  min-height: auto;
  scroll-behavior: smooth;
}

@media (min-width: 1024px) {
  .fullHeight {
    height: 100vh;
    overflow-y: scroll;
  }
}

.component {
  border-bottom: 1px dotted;
  padding-bottom: 30px;
}

.component:last-child {
  border: none;
}

.accordionBtn {
  border-bottom: 1px solid #e5e5e5;
  cursor: pointer;
}

.accordionPlus {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.accordionPlus:before, .accordionPlus:after {
  content: '';
  background: #00008f;
  position: absolute;
}

.accordionPlus:before {
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.accordionPlus:after {
  width: 100%;
  height: 1px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.hamburger {
  width: 30px;
  height: 1px;
  background: #c91432;
  position: absolute;
  left: 50%;
  top: 45px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hamburger:before, .hamburger:after {
  content: '';
  width: 100%;
  height: 1px;
  background: #c91432;
  position: absolute;
  left: 0;
}

.hamburger:before {
  top: -10px;
}

.hamburger:after {
  bottom: -10px;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  float: none;
  padding: 20px 50px;
}

@media (max-width: 767px) {
  .container {
    max-width: 100%;
    padding: 20px;
  }
}

.container:after {
  content: '';
  display: table;
  clear: both;
}

.inpageNav {
  word-break: break-all;
}

.inpageNav > li {
  padding: 5px 0;
}

.imgSet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

@media (max-width: 767px) {
  .imgSet {
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.imgSet img,
.imgSet figcaption {
  float: none;
}

.imgSet .btnImg {
  height: 50px;
}

.imgSet li {
  width: auto;
}

.row > li {
  border-bottom: 1px solid #e5e5e5;
}

.row > li:last-child {
  border: none;
}

.scrollable {
  max-width: 100%;
  overflow-x: auto;
}

.bgWhite {
  background: #ffffff;
}

.bgLightGrey, .bxLightGrey:before, tr:nth-child(odd), .type1 .row3 {
  background: #fafafa;
}

.bgGrey, .bxGrey:before, .type1 tr:first-child, .type1 .row1, .menuList a:hover {
  background: #e5e5e5;
}

.bgDarkGrey, .bxDarkGrey:before {
  background: #cccccc;
}

.bgDarkestGrey, .bxDarkestGrey:before {
  background: #5f5f5f;
}

.bgBrown, .type2 tr:first-child {
  background: #914146;
}

.bgBlack, .bxBlack:before {
  background: #333333;
}

.bgBlue, .bxBlue:before {
  background: #00008f;
}

.bgTeal, .bxTeal:before {
  background: #027180;
}

.bgGreen, .bxGreen:before {
  background: #148936;
}

.bgOrange, .bxOrange:before {
  background: #FCD385;
}

.bgRed, .bxRed:before {
  background: #c91432;
}

.bgRedOrange, .bxRedOrange:before {
  background: #C24E00;
}

.bx {
  position: relative;
  padding-left: 30px;
  text-transform: uppercase;
}

.bx:before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
  top: 0;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
  width: auto;
}

table.type1 {
  width: 500px;
}

table.type2 {
  width: 400px;
}

@media (max-width: 767px) {
  table.type2 {
    max-width: 100%;
  }
}

.type2 td {
  position: relative;
}

.type2 td:before {
  position: absolute;
  left: 0;
}

.type2 td:nth-child(3):before {
  content: '+';
}

.type2 td:last-child:before {
  content: '=';
}

tr,
th,
td {
  width: auto;
  float: none;
  table-layout: fixed;
}

th,
td {
  padding: 10px;
  vertical-align: top;
  width: 100px;
}

.table {
  margin: 10px 0;
}

@media (max-width: 767px) {
  .table > li {
    -webkit-box-shadow: 0 0 10px #e5e5e5;
            box-shadow: 0 0 10px #e5e5e5;
    margin-bottom: 20px;
    padding: 20px;
    background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fafafa), color-stop(50%, #ffffff));
    background: linear-gradient(90deg, #fafafa 50%, #ffffff 50%);
    border: 1px solid #e5e5e5;
  }
  .table > li:first-child {
    display: none;
  }
}

@media (min-width: 768px) {
  .table > li > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 768px) {
  .table > li:nth-child(odd) > ul {
    background: #fafafa;
  }
}

@media (min-width: 768px) {
  .table > li:first-child > ul {
    background: #914146;
    color: #ffffff;
  }
}

.type1 .column {
  width: 110px;
}

@media (max-width: 767px) {
  .type1 .column {
    width: 100%;
  }
}

.type1 .column li {
  padding: 10px;
}

.type1 .row1 {
  text-align: right;
}

@media (max-width: 767px) {
  .type1 .row1 {
    text-align: center;
  }
}

.cl {
  padding: 15px 10px;
  min-width: 80px;
  border-bottom: 1px solid #e5e5e5;
  position: relative;
}

.cl:before {
  content: '';
  width: calc(50% + 10px);
  position: absolute;
  left: 0;
}

@media (max-width: 767px) {
  .cl {
    padding-left: calc(50% + 10px);
  }
}

@media (max-width: 767px) {
  .cl:last-child {
    border: none;
  }
}

@media (min-width: 768px) {
  .cl {
    border: 1px solid #e5e5e5;
  }
}

@media (max-width: 767px) {
  .clTag {
    padding-left: 0;
  }
}

@media (max-width: 767px) {
  .clFont:before {
    content: 'Font';
  }
}

@media (max-width: 767px) {
  .clSize:before {
    content: 'Desktop/ Tablet size';
  }
}

@media (max-width: 767px) {
  .clmSize:before {
    content: 'Mobile size';
  }
}

@media (max-width: 767px) {
  .clWeight:before {
    content: 'Font- weight';
  }
}

@media (max-width: 767px) {
  .clHeight:before {
    content: 'line height';
  }
}

@media (max-width: 767px) {
  .clColour:before {
    content: 'Colour';
  }
}

@media (max-width: 767px) {
  .clUsage:before {
    content: 'Usage';
  }
}

@media (min-width: 768px) {
  .clDate {
    max-width: 150px;
  }
}

@media (max-width: 767px) {
  .clDate:before {
    content: 'Date';
  }
}

@media (max-width: 767px) {
  .clComment:before {
    content: 'Comment';
  }
}

@media (min-width: 768px) {
  .clTeam {
    max-width: 150px;
  }
}

@media (max-width: 767px) {
  .clTeam:before {
    content: 'Team';
  }
}

.pad20 {
  padding: 20px;
}

.padTp10 {
  padding: 10px 0;
}

.padTp15 {
  padding: 15px 0;
}

.padTp50 {
  padding: 50px 0;
}

.padTp100 {
  padding: 100px 0;
}

.padTp18Bt2 {
  padding: 18px 0 2px;
}

.padSd70TpBt20 {
  padding: 20px 70px;
}

.padSd60TpBt20 {
  padding: 20px 60px;
}

.padSd50TpBt20 {
  padding: 20px 50px;
}

.padSd50TpBt15 {
  padding: 15px 50px;
}

.padTB15L20R50 {
  padding: 15px 50px 15px 20px;
}

.padTB20L20R50 {
  padding: 20px;
}

@media (min-width: 1024px) {
  .padTB20L20R50 {
    padding: 20px 50px 20px 20px;
  }
}

.padTB20L50R20 {
  padding: 20px;
}

@media (min-width: 1024px) {
  .padTB20L50R20 {
    padding: 20px 20px 20px 50px;
  }
}

@media (min-width: 1024px) {
  .marB100 {
    margin-bottom: 100px;
  }
}

.marT10B100 {
  margin: 10px 0;
}

@media (min-width: 1024px) {
  .marT10B100 {
    margin: 10px 0 100px;
  }
}

.marT10B10, .imgSet {
  margin: 10px 0;
}

.marR10B10, .imgSet figure {
  margin: 0 10px 10px 0;
}

.menuList a {
  padding: 15px 20px;
  border-bottom: 1px solid #e5e5e5;
}

.menuList a:focus {
  outline: 3px solid #4d90fe;
}

.fltL {
  float: left;
}

.fltR {
  float: right;
}

h1 {
  margin-bottom: 20px;
}

h2 {
  padding: 30px 0 20px;
}

h3 {
  padding: 20px 0;
}

.txtWhite, .type2 tr:first-child {
  color: #ffffff;
}

.txtLightGrey {
  color: #fafafa;
}

.txtGrey {
  color: #e5e5e5;
}

.txtDarkgrey {
  color: #cccccc;
}

.txtDarkestgrey {
  color: #5f5f5f;
}

.txtBrown {
  color: #914146;
}

.txtBlue, .accordionBtn, .menuList a, h1, p > a,
.inpageNav li > a,
.txtLink {
  color: #00008f;
}

.txtRed {
  color: #c91432;
}

.txtBld, .type1 tr:last-child, th, .table > li:first-child > ul, .type1 .row1, .type1 .row4, a.active {
  font-family: semibold;
}

.txtTitle, h1, h2 {
  font-family: title;
}

.txtR, .type1 th,
.type1 td {
  text-align: right;
}

.txtL, .type1 th:first-child,
.type1 td:first-child, .type2 th:first-child,
.type2 td:first-child, .column:first-child {
  text-align: left;
}

.txtC, .type2 th,
.type2 td {
  text-align: center;
}

.txt48, h1 {
  font-size: 48px;
}

@media (max-width: 767px) {
  .txt48, h1 {
    font-size: 32px;
  }
}

.txt30 {
  font-size: 30px;
}

@media (max-width: 767px) {
  .txt30 {
    font-size: 28px;
  }
}

.txt26 {
  font-size: 26px;
}

@media (max-width: 767px) {
  .txt26 {
    font-size: 24px;
  }
}

.txt24, .logoWrap .title, h2 {
  font-size: 24px;
}

@media (max-width: 767px) {
  .txt24, .logoWrap .title, h2 {
    font-size: 22px;
  }
}

.txt22 {
  font-size: 22px;
}

@media (max-width: 767px) {
  .txt22 {
    font-size: 20px;
  }
}

.txt20 {
  font-size: 20px;
}

@media (max-width: 767px) {
  .txt20 {
    font-size: 18px;
  }
}

.txt18, body, h3, .optCon label {
  font-size: 18px;
}

@media (max-width: 767px) {
  .txt18, body, h3, .optCon label {
    font-size: 16px;
  }
}

.txt14, .imgSet figcaption {
  font-size: 14px;
}

.optCon label {
  width: auto;
  position: relative;
  margin: 0 0 0 10px;
}

.optCon label:first-child {
  margin: 0;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

input[type="radio"] ~ span {
  background: #ffffff;
  color: #027180;
  padding: 10px 20px;
  border: 1px solid #fafafa;
  border-radius: 3px;
}

input[type="radio"]:hover ~ span {
  background: #024b55;
  color: #ffffff;
}

input[type="radio"]:focus ~ span {
  -webkit-box-shadow: 0 0 0 3px #4d90fe;
          box-shadow: 0 0 0 3px #4d90fe;
}

input[type="radio"]:checked ~ span {
  background: #027180;
  color: #ffffff;
}

input[type="checkbox"].toggle {
  width: 0;
  height: 0;
  opacity: 0;
}

input[type="checkbox"].toggle:hover ~ label {
  background: #e5e5e5;
}

input[type="checkbox"].toggle:focus ~ label {
  outline: 3px solid #4d90fe;
  position: relative;
  z-index: 1;
}

input[type="checkbox"].toggle:checked ~ .toggleContent {
  display: block;
}

input[type="checkbox"].toggle:checked ~ label > .menu {
  display: none;
}

input[type="checkbox"].toggle:checked ~ label > .close {
  display: block;
}

input[type="checkbox"].toggle:checked ~ label > .hamburger {
  background: none;
}

input[type="checkbox"].toggle:checked ~ label > .hamburger:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
}

input[type="checkbox"].toggle:checked ~ label > .hamburger:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 0;
}

input[type="checkbox"].toggle:checked ~ label > .accordionPlus {
  background: none;
}

input[type="checkbox"].toggle:checked ~ label > .accordionPlus:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

p > a,
.inpageNav li > a {
  color: #00008f;
  float: none;
}

p > a:focus:before,
.inpageNav li > a:focus:before {
  top: -2px;
  height: 100%;
}

.txtLink:focus:before {
  top: 10px;
  height: calc(100% - 10px);
}

p > a,
.inpageNav li > a,
.txtLink {
  border-bottom: 1px solid;
  margin-bottom: -1px;
  width: auto;
  position: relative;
  display: inline;
}

p > a:hover,
.inpageNav li > a:hover,
.txtLink:hover {
  margin-bottom: 0;
  border: 0;
}

p > a:focus,
.inpageNav li > a:focus,
.txtLink:focus {
  outline: 3px solid #4d90fe;
}

a.active {
  position: relative;
}

a.active:before {
  content: '';
  width: 5px;
  height: 100%;
  background: #00008f;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
}

a.active:hover {
  color: #00008f;
}
/*# sourceMappingURL=style.css.map */