a{
    &.btn{
        @extend .bgBlue;
        @extend .txtWhite;
        @extend .txt18;
        border-radius: 3px;
        padding: 10px 15px;


        &:hover{
            @extend .bgDarkBlue;
        }

        &:focus{
            box-shadow: 0 0 0 3px $blueFocus;
            outline:none;
        }
    }
}