.bx{
    position:relative;
    padding-left:35px;
    text-transform: uppercase;
    
    //@extend .txtBld;

    &:before{
        content:'';
        position:absolute;
        width:25px;
        height:25px;
        border-radius: 15px;
        left:0;
        top:0;
        line-height: 25px;
        @extend .txtC;
        @extend .txt16;
    }
}

.bxP{
    &:before{
        content: 'P';
    }
}

.bxA{
    &:before{
        content: 'A';
    }
}

.bxT{
    &:before{
        content: 'T';
    }
}

.bxB{
    &:before{
        content: 'B';
    }
}


.bxWhite{
    &:before{
        @extend .bgWhite;
        border:1px solid $grey;
    }
}

.bxShadow{
    &:before{
        @extend .bgWhite;
        border:1px solid $grey;
        box-shadow: 0 0 5px rgba(0,0,0,0.35);
    }
}

.bxLegendBlue{
    &:before{
        @extend .bgLegendBlue;
    }
}

.bxLegendLightBlue{
    &:before{
        @extend .bgLegendLightBlue;
    }
}

.bxLegendOrange{
    &:before{
        @extend .bgLegendOrange;
    }
}

.bxLegendLightGreen{
    &:before{
        @extend .bgLegendLightGreen;
    }
}

.bxLegendGreen{
    &:before{
        @extend .bgLegendGreen;
    }
}




.bxBlue{
    &:before{
        @extend .bgBlue;
    }
}

.bxTeal{
    &:before{
        @extend .bgTeal;
    }
}

.bxGreen{
    &:before{
        @extend .bgGreen;
    }
}

.bxOrange{
    &:before{
        @extend .bgOrange;
    }
}

.bxRedOrange{
    &:before{
        @extend .bgRedOrange;
    }
}

.bxBlack{
    &:before{
        @extend .bgBlack;
    }
}

.bxDarkestGrey{
    &:before{
        @extend .bgDarkestGrey;
    }
}

.bxDarkGrey{
    &:before{
        @extend .bgDarkGrey;
    }
}

.bxGrey{
    &:before{
        @extend .bgGrey;
    }
}

.bxLightGrey{
    &:before{
        @extend .bgLightGrey;
    }
}

.bxRed{
    &:before{
        @extend .bgRed;
    }
}