@font-face {
    font-family: regular;
    src: url('fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: semibold;
    src: url('fonts/SourceSansPro-SemiBold.ttf');
}

@font-face {
    font-family: title;
    src: url('fonts/PublicoHeadline-Bold.otf');
}

