.menuList{

    .toggleContent{
        li>a{
            padding: 15px 20px 15px 40px;
        }
    }

    .btn{
        @extend .txtWhite;
        border: none;
    }

    a{
      padding:15px 20px;
      border-bottom: 1px solid $grey;  
      @extend .txtBlue;

      &:hover{
          @extend .bgGrey;
      }
      &:focus{
          outline:3px solid $blueFocus;
      }
    }
}